@if (IDPs != null && IDPs.Any())
{
    <section @attributes=Attributes>
        @foreach (ExternalIdpInfo item in IDPs)
        {
            <span @onclick=@(()=> BuildUrl(item.ProviderId))>
                @if (ButtonContent != null)
                {
                    <text>@ButtonContent(item.ProviderId)</text>
                }
                else
                {
                    <div class="linkButton">
                        <img src="@ImagePath(item)">@item.ProviderId
                    </div>
                }
            </span>
        }
    </section>
}



