@page "/oauth2/callback"
@using Membership.Shared.ValueObjects
@inherits ExternalCallbackEndpointBase

@if(!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert alert-danger">
        <div>
            @Message
        </div>
        @if(Errors != null)
        {
            <ul>
                @foreach(MembershipError Error in Errors)
                {
                    <li>
                        @Error.Description
                    </li>
                }
            </ul>
        }
    </div>
}


